#faq-section
  section#faq
    .head
      margin: 0 auto
      width: 100%
      text-align: center
      overflow: hidden
      h1
        margin: 0.3125em 0
        background-color: $light
        position: relative
        display: inline-block
        padding: 0 10px
        margin-bottom: 70px
        &:before
          content: ""
          height: 5px
          //border-top: 1px solid $blue
          //border-bottom: 1px solid $blue
          background-color: $dark
          position: absolute
          width: 100%
          top: 40%
          left: -110%
        &:after
          content: ""
          height: 5px
          //border-top: 1px solid $blue
          //border-bottom: 1px solid $blue
          background-color: $dark
          position: absolute
          width: 100%
          top: 40%
          left: 110%
    .follow
      margin-top: 80px
      text-align: center
