#landing
  background: $dark url(../img/sep-light.png) bottom repeat-x
  color: $light
  padding: 50px
  padding-bottom: 133px

  .navbar
    display: flex
    justify-content: space-between
    margin-bottom: 50px
    .logo
      width: 25%
      height: 80px
      background: url(../img/logo-v2.svg)
      background-repeat: no-repeat
      background-size: contain
      background-position: left center
    ul
      list-style: none
      margin: auto 0
      li
        display: inline
        margin: 0 20px
        a
          font-family: 'Kalam', sans-serif
          font-size: 1.5rem
          color: $light
          transition: all 100ms ease-in-out
          &:hover
            color: $orange
            padding-bottom: 2px
            border-bottom: 2px solid
